<%- include('top_bar') %>
<div class="content">
<% if(!session.user){ %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="flex-column col-8 d-flex">
                <div class="login-panel">
                    <h4>Login: </h4>
                    <form action="/login" method="post">
                        <div class="form-group row align-items-center">
                            <label for="nameInput" class="col-2 m-0">Username: </label>
                            <input type="text" name="name" id="nameInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="passwdInput" class="col-2 m-0">Password: </label>
                            <input type="password" name="password" id="passwdInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <input type="submit" value="Login" class="col-5 mx-auto btn btn-success">
                        </div>
                        <h5>You don't have an account yet?</h5>
                        <a href="/register">
                            <button type="button" class="btn btn-primary">Register</button>
                        </a>
                    </form>
                </div>
                <div class="guest-panel">
                    <h4>Enter as guest: </h4>
                    <form action="/guest" method="post">
                        <div class="form-group row align-items-center">
                            <label for="guestNameInput" class="col-2 m-0">Nick: </label>
                            <input type="text" name="name" id="guestNameInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <input type="submit" value="Join" class="col-5 mx-auto btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <div>
        <% 
        rooms = [{
            name: "bartek room",
            creator: "bartek",
            players: 3,
            max_players: 5,
            id: 17
        }]
        %>
        <% for(room of rooms){ %>
            <div>
                Name: <%= room.name %> Creator <%=  room.creator %>
                <%= room.players %>/<%= room.max_players %>
                <form action="/room/<%= room.id %>" method="post"> <input type="submit" value="Enter"/> </form>
            </div>
        <% } %> 
    </div>
    
<% } %>
<!-- 
    Wejście:
    rooms = Room[1-20]

    Room = {
        name: string,
        room_id: int,
        creator: string,
        creator_id: int, // klikanie w nazwe gracza przenosi na /user/creator_id
        mode: string,
        players: int,
        max_players: int, // wyświetlać players/max_players
        elo_range: undefined or int[2], // albo nic albo dwie liczby np [1500, 1800], wyświetlić 1500-1800
        ranked: boolean
    }

    Dla zalogowanych:
    - u góry "stwórz pokój"
    - niżej lista pokoi w postaci listy ładnych prostokątów, klikanie zaznacza pokój (podświetla się)
    - na dole jest przycisk "join room" - przenosi na /room/room_id
    - wyżej filtry - suwaki i pola do wpisywania - jak narazie: 
                                                    - suwak ranked: [nieranked, obojetne, ranked]
                                                    - min elo
                                                    - max elo
                                                    - przycisk "find more" (stronka się przeładuje, do session musisz wrzucić wszystkie dane z filtra - najlepiej w obiekcie o nazwie 'filter')
    - w trakcie wybierania filtrów filtruj też widoczne pokoje (będzie ich ubywać, użytkownik kliknie "find more" i się przeładuje)
-->
</div>