<%- include('top_bar') %>
<div class="content">
    <div class="container">
<% if(!session.user){ %>
    
        <div class="row justify-content-center">
            <div class="flex-column col-8 d-flex">
                <div class="login-panel">
                    <h4>Login: </h4>
                    <form action="/login" method="post">
                        <div class="form-group row align-items-center">
                            <label for="nameInput" class="col-2 m-0">Username: </label>
                            <input type="text" name="name" id="nameInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="passwdInput" class="col-2 m-0">Password: </label>
                            <input type="password" name="password" id="passwdInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <input type="submit" value="Login" class="col-5 mx-auto btn btn-success">
                        </div>
                        <h5>You don't have an account yet?</h5>
                        <a href="/register">
                            <button type="button" class="btn btn-primary">Register</button>
                        </a>
                    </form>
                </div>
                <div class="guest-panel">
                    <h4>Enter as guest: </h4>
                    <form action="/guest" method="post">
                        <div class="form-group row align-items-center">
                            <label for="guestNameInput" class="col-2 m-0">Nick: </label>
                            <input type="text" name="name" id="guestNameInput" class="col-8 form-control"/>
                        </div>
                        <div class="form-group row align-items-center">
                            <input type="submit" value="Join" class="col-5 mx-auto btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
<% } else{ %>


    <div class="row justify-content-center">
        <div class="flex-column col-8 d-flex align-items-center">
            <a href="#">
                <button class="btn btn-info">CREATE ROOM</button>
            </a>
            <hr class="w-100">

            <form class="w-100 mb-5">
                <div class="row d-flex justiy-content-center">
                    <div class="col-6 d-flex justify-content-between w-75">
                        <span>Unranked</span>
                        <span class="mr-3">Any</span>
                        <span>Ranked</span>
                    </div>
                    <div class="col-6 d-flex justify-content-between w-75">
                        <span>Basic</span>
                        <span class="pos-absolute anytext-position">Any</span>
                        <span>Advanced</span>
                    </div>
                    <div class="col-6 form-group w-75">
                        <input type="range" class="custom-range" min="0" max="2">
                    </div>
                    <div class="col-6 form-group w-75 mb-5">
                        <input type="range" class="custom-range" min="0" max="2">
                    </div>
                    <div class="col-12 d-flex justify-content-around">
                        <span class="text-center font-weight-bolder prelude px-5">Prelude</span>
                        <span class="text-center font-weight-bolder venus px-5">Venus</span>
                    </div>
                    <div class="col-6 d-flex justify-content-between w-75">
                        <span>Yes</span>
                        <span>No</span>
                    </div>

                    
                    <div class="col-6 d-flex justify-content-between w-75">
                        <span>Yes</span>
                        
                        <span>No</span>
                    </div>
                    <div class="col-6 form-group w-75">
                        <input type="range" class="custom-range" min="0" max="2">
                    </div>
                    <div class="col-6 form-group w-75">
                        <input type="range" class="custom-range" min="0" max="2">
                    </div>
                </div>
                
                <script>
                    function eloSwitcher() {
                        let switchValue = document.getElementById('eloSwitch');
                        let eloInputs = document.querySelector('.elo-input');
                        
                        switchValue.checked ? 
                        eloInputs.classList.add('elo-input-animate') : 
                        eloInputs.classList.remove('elo-input-animate');

                    }
                </script>
                
                <div class="d-flex justify-content-center align-items-center w-100">
                    <div class="col-4 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="eloSwitch" onclick="eloSwitcher()">
                        <label class="custom-control-label" for="eloSwitch">Select elo-range</label>
                    </div>
                    <div class="col-8 d-flex elo-input">
                        <div class="form-group w-50 text-center">
                            <label for="min_elo">Min. elo</label>
                            <input type="number" class="form-control w-50 m-auto" id="min_elo">
                        </div>
                        <div class="form-group w-50 text-center">
                            <label for="max_elo">Max. elo</label>
                            <input type="number" class="form-control w-50 m-auto" id="max_elo">
                        </div>
                    </div>
                    
                </div>
                
                <div class="form-group m-auto">
                    <input type="submit" class="btn btn-success" value="Find more">
                </div>
            </form>
            
            <div class="list-group w-100">
                <% for(room of rooms){ %>
                    <%
                        let ifRank, eloRange;
                        room.ranked === false ? ifRank = 'Unranked' : ifRank = 'Ranked';
                    
                        room.elo_range === undefined ? 
                        eloRange = 'Any elo' : 
                        eloRange = room.elo_range[0] + ' - ' + room.elo_range[1];    
                    %>
                    
                    <div class="row d-flex mx-0 my-3 p-0 border-0 room-box rounded">
                        <div class="col-9 d-flex w-100 px-3 align-items-center">
                            <div class="row d-flex room-details w-100 h-100 py-3">
                                <div class="col-3"><%= room.name %></div>
                                <div class="col-3"><%= ifRank %></div>
                                <div class="col-3"><%= eloRange %></div>
                                <div class="col-3"><%= room.players %>/<%= room.max_players %></div>  
                            </div>
                        </div>
                        <div class="col-2 room-creator-name d-flex align-items-center justify-content-center">
                            by &nbsp;<a href="/user/<%= room.creator_id %>"><%= room.creator %></a>
                        </div>
                        <div class="col-1 d-flex align-items-center room-link p-0 justify-content-center">
                            <a href="/room/<%= room.id %>"><i class="fas fa-sign-in-alt enter-icon"></i></a>
                        </div>
                    </div>
                <% } %>
            </div>

            <!--
                nazwa, kto stworzyl, ilosc graczy, czy ranked, elo-zakres(jezeli jest)
            -->
        </div>
    </div>

<% } %>
<!-- 
    Wejście:
    rooms = Room[1-20]

    Room = {
        name: string,
        room_id: int,
        creator: string,
        creator_id: int, // klikanie w nazwe gracza przenosi na /user/creator_id
        mode: string,
        players: int,
        max_players: int, // wyświetlać players/max_players
        elo_range: undefined or int[2], // albo nic albo dwie liczby np [1500, 1800], wyświetlić 1500-1800
        ranked: boolean
    }

    Dla zalogowanych:
    - u góry "stwórz pokój"
    - niżej lista pokoi w postaci listy ładnych prostokątów, klikanie zaznacza pokój (podświetla się)
    - na dole jest przycisk "join room" - przenosi na /room/room_id
    - wyżej filtry - suwaki i pola do wpisywania - jak narazie: 
                                                    - suwak ranked: [nieranked, obojetne, ranked]
                                                    - min elo
                                                    - max elo
                                                    - przycisk "find more" (stronka się przeładuje, do session musisz wrzucić wszystkie dane z filtra - najlepiej w obiekcie o nazwie 'filter')
    - w trakcie wybierania filtrów filtruj też widoczne pokoje (będzie ich ubywać, użytkownik kliknie "find more" i się przeładuje)
-->

    </div>
</div>